@model liftoff_storefront.Models.Product

@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>@Model.Name</h4>
    <hr />
    <img class="img-fluid mx-auto d-block" src="@Model.ImageURL" />
    <p>@ViewBag.desc</p>
</div>
<div>
    <a href="@Model.Id/comments" class="btn btn-primary">View Comments</a>
</div>
<div>
    <a asp-controller="home" asp-action="Index">Back to List</a>
</div>
