@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

@*
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
*@

<div class="text-center">
    <a class="btn btn-danger" asp-controller="Product" asp-action="GenerateProduct">SHOW ME WHAT YOU GOT</a>
</div>
<br />
<div class="container-fluid text-center">
    @foreach (var p in Model)
    {
        <a asp-controller="product" asp-action="@p.Id"><img class="img-thumbnail img-fluid rounded col-md-3" src="@p.ImageURL" /></a>
    }
</div>